#pin
pynput
pyrealsense2
scipy==1.7.1
tomli==2.0.1
loguru==0.6.0
tqdm==4.64.1
transforms3d==0.3.1
serial
zerorpc
pyspacemouse
pyquaternion
quaternion
tyro
ur-rtde
xarm
xarm-python-sdk
#numpy-quaternion
termcolor
opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
#matplotlib==3.7.1
#tensorflow==2.13.0
#tensorflow-datasets==4.9.2
#plotly==5.15.0
